.Articles {
  text-align: center;
  &__Content {
    text-align: left;
    margin-top: 14px;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    row-gap: 41px;

    @media (min-width: 640px) {
      column-gap: 25px;
      grid-template-columns: repeat(2, 2fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 2fr);
    }
  }
}
