.FullSingleArticle {
  position: relative;

  &__image {
    display: block;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 17px;
    border-radius: 4px 4px 0px 0px;
  }

  &__information {
    margin-bottom: 8.5px;
    @media (min-width: 800px) {
      margin: 0 30%;
    }
  }
}
