$breakpoints: (
  xsmall: (
    min-width: 480px,
  ),
  small: (
    min-width: 640px,
  ),
  medium: (
    min-width: 800px,
  ),
  large: (
    min-width: 1024px,
  ),
  xlarge: (
    min-width: 1200px,
  ),
  xxlarge: (
    min-width: 1440px,
  ),
);
